<form action="https://formspree.io/f/mleolypk" method="POST">
  <div class="form-group">
    <p>Fields marked with * are mandatory</p>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <input name="forename" type="text" class="form-control" placeholder="Forename*" required>
      </div>
      <div class="col">
        <input name="surname" type="text" class="form-control" placeholder="Surname*" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input name="company" type="text" class="form-control" placeholder="Company Name*" required>
  </div>
  <div class="form-group">
    <input name="email" type="email" class="form-control" placeholder="Email*" required>
  </div>
  <div class="form-group">
    <input name="telephone" type="tel" class="form-control" placeholder="Telephone">
  </div>
  <div class="form-group">
    <textarea name="message" class="form-control" rows="5" placeholder="Message*" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
