<div class="text-center">
  <p class="lead" style="margin-bottom: 0;">Our Risk Solution Services:</p>
  <div class="btn-group">
    <a href="{{ '/solutions/underwriter' | relative_url }}" class="btn btn-secondary{% if page.url contains "underwriter" %} disabled{% endif %}" role="button">Underwriter</a>
    <a href="{{ '/solutions/broker' | relative_url }}" class="btn btn-secondary{% if page.url contains "broker" %} disabled{% endif %}" role="button">Broker</a>
    <a href="{{ '/solutions/policyholder' | relative_url }}" class="btn btn-secondary{% if page.url contains "policyholder" %} disabled{% endif %}" role="button">Policyholder</a>
  </div>
</div>
<hr/>
<p class="text-center">
  <a href="{{ '/contact' | relative_url }}">Contact us</a> to find out how we’ll enhance your existing Casualty Risk Management arrangements.
</p>
