<footer class="py-5 footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <small class="text-muted">
          <a href="{{ '/terms' | relative_url }}">Terms and conditions</a>. <a href="{{ '/privacy' | relative_url }}">Privacy Policy</a><br/>
          &copy; Peak Risk Solutions Ltd 2020<br/>
          Registered Company Number: 12993155<br/>
          VAT Number: 420 0599 28<br/>
          {% if page.banner-attribution %}
          Photo by <a href="https://unsplash.com/@{{ page.banner-attribution }}">@{{ page.banner-attribution }}</a> on <a href="https://unsplash.com/">Unsplash</a><br/>
          {% else %}
          Photo from <a href="https://unsplash.com/">Unsplash</a><br/>
          {% endif %}
          Website by <a href="https://chriscummins.cc">Chris Cummins</a>
        </small>
      </div>
    </div>
  </div>
</footer
