<!-- <div class="jumbotron paral paralsec" style="background-image: url('{{ page.banner }}');">
</div> -->
<!-- <div data-jarallax data-speed="0.2" class="jarallax">
  <img class="jarallax-img" src="{{ page.banner }}" alt="">
</div> -->

<div data-jarallax data-speed="0.2" class="jarallax">
  <img class="jarallax-img" src="{{ page.banner }}" alt="">
  <div style="min-height:350px;"></div>
  <!-- <div class="demo-table">
      <div class="demo-table-cell">
          <h1>Jarallax</h1>
      </div>
  </div> -->
</div>
